# =========================
# Visual Studio
# =========================
.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Build results
# =========================
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# =========================
# .NET Core
# =========================
project.lock.json
project.fragment.lock.json
artifacts/

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
packages/
.nuget/
!nuget.config

# =========================
# Logs
# =========================
*.log

# =========================
# OS generated
# =========================
[Dd]esktop.ini
Thumbs.db

# =========================
# Rider / VS Code (optional)
# =========================
.idea/
.vscode/

# =========================
# Test results
# =========================
TestResults/

# =========================
# Publish output
# =========================
publish/
